body{
    font-family: sans-serif;
}

table{
    border-collapse: collapse;
}




form {
    margin-top: 10px;
}
#content{
    min-width: 20em;
}

/* Footer */

footer{
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: #ffffff;

}

.footer-section{
    padding-top: 15px;
}

footer h6{
    font-size: 1em;
}


.list-unstyled a {
    color: #ffffff;
}

footer hr{
    background-color: #ffffff;
    width: 90%;
}


.act-btn{
    min-width: 6rem;
}



