<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        {% block head %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}
        <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
        {% block javascript %}
        <script src="{{ url_for('static',filename='js/jquery-3.5.1.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
