{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Task Master</a>
    </div>
</nav>

<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-12">
                <h1>Task Master</h1>
                <p>A To-Do List built using Flask and Frontend UI Framework Bootstrap</p>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="row row-content align-items-center">
        <div class="col-12 mt-5">
            <div class="content">
                {% if tasks|length < 1 %}
                <h4 style="text-align: center;">There are no tasks. Create one below!</h4>
                </h4>
            
                {% else %}
            
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Tasks</th>
                            <th>Date Added</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    
            
                    {% for task in tasks %}
            
                    <tr>
                        <td>{{ task.content }}</td>
                        <td>{{ task.date_created.date() }}</td>
                        <td>
                            <a class="act-btn btn btn-primary btn-sm m-1" href="/update/{{task.id}}" role="update">Update</a>
                            <a class="act-btn btn btn-danger btn-sm m-1" href="/delete/{{task.id}}" role="delete">Delete</a>
                        </td>
                    </tr>
            
                    {% endfor %}
            
                </table>
                {% endif %}
                
            
                <form action="/" method="POST">
                    <input class="m-auto" type="text" name="content" id="content">
                    <input class="act-btn btn btn-success btn-sm m-1" type="submit" value="Add Task">
                
                </form>
            
            </div>
            
        </div>
    </div>
</div>

<footer class="footer bg-dark mt-5">
    <div class="container">
        <div class="row">

            
            <div class="col-12 text-center justify-content-center">
                <h6 class="mx-auto mb-2">Developer Contact</h6>
                <ul class="list-unstyled my-auto">
                    <li><a href="tel:+91 9876543210"></i> Call</a></li>
                    <li><a href="mailto:kaustubh5410@gmail.com">Mail</a></li>
                    <li><a href="https://www.linkedin.com/in/kaustubh---singh" target="_blank"> LinkedIn</a></li>
                    <li><a href="https://www.github.com/kaustubh3000" target="_blank"> GitHub</a></li>
                    <li><a href="https://twitter.com/kaustubhspeaks" target="_blank"> Twitter</a></li>

                </ul>
            </div>

            <hr>

            <div class="col-12 text-center">
                &copy;2021 Kaustubh Singh
            </div>

        </div>
    </div>
</footer>
{% endblock %}