{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}

<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-12">
                <h1>Task Master</h1>
                <p>A To-Do List built using Flask and Frontend UI Framework Bootstrap</p>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="row row-content align-items-center">
        <div class="col-12 mt-5">
            <div class="content">
                {% if tasks|length < 1 %} <h4 style="text-align: center;">There are no tasks. Create one below!</h4>
                    </h4>

                    {% else %}

                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Tasks</th>
                                <th>Date Added</th>
                                <th>Actions</th>
                            </tr>
                        </thead>


                        {% for task in tasks %}

                        <tr>
                            <td>{{ task.content }}</td>
                            <td>{{ task.date_created.date() }}</td>
                            <td>
                                <a class="act-btn btn btn-primary btn-sm m-1" href="/update/{{task.id}}"
                                    role="update">Update</a>
                                <a class="act-btn btn btn-danger btn-sm m-1" href="/delete/{{task.id}}"
                                    role="delete">Delete</a>
                            </td>
                        </tr>

                        {% endfor %}

                    </table>
                    {% endif %}

                    <div class="col-6 mx-auto my-5">
                        <form action="/" method="POST">
                            <input type="text" name="content" id="content" placeholder="Enter task here">
                            <input class="act-btn btn btn-success btn-sm m-1" type="submit" value="Add Task">
                        </form>
                    </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}